.mail{
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    /* background-color:blue; */
    color: white;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* gap: 20px; */
    /* padding: 50px; */
    /* border: 1px solid red; */
}
.mailDesc{
    max-width: 1024px;
    position: absolute;
    /* bottom: 75px; */
    z-index: 10;
    /* border: 1px solid red; */
}
.mailTitle{
    max-width: 1024px;
    position: absolute;
    top: 50px;
    z-index: 10;
    /* border: 1px solid red; */
}
.mailInputContainer{
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    z-index: 11111;


}
/* .mailInputContainer>input{
    width: 300px;
    height: 35px;
    padding: 10px;
    border: none;
    margin-left: -200px ;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;

} */
.input{
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    margin-top: 100px ;
    border-radius: 10px;
    /* position: absolute; */
    /* bottom: 30px; */
    /* border: 1px solid red; */
}
/* .mailInputContainer>button{
    height: 35px;
    background: var(--gradientColor);
    color: white;
    font-weight: 500;
    margin-left: 110px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;

} */
.subButton{
    height: 40px;
    background: var(--gradientColor);
    color: white;
    font-weight: 500;
    /* margin-left: 110px; */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 100px ;
    margin-left: 10px;
    /* position: absolute; */
    /* bottom: 30px; */
}
.mailOverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailVideo{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    object-fit: cover;
}